{% extends 'base.html' %}

{% load crispy_forms_tags %}



{% block jquery %}

$('#myTab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
{% endblock %}



{% block content %}


<h1 style="padding-bottom: 40px">Cadastros</h1>
  <!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li><a href="#home" role="tab" data-toggle="tab">Home</a></li>
  <li><a href="#profile" role="tab" data-toggle="tab">Profile</a></li>
  <li><a href="#messages" role="tab" data-toggle="tab">Messages</a></li>
  <li><a href="#settings" role="tab" data-toggle="tab">Service</a></li>
  <li><a href="#settings" role="tab" data-toggle="tab">Termos</a></li>
  <li><a href="#settings" role="tab" data-toggle="tab">Garantia</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="home">{% include "add_products.html" %}</div>
  <div class="tab-pane" id="profile">{% include "add_clients.html" %}</div>
  <div class="tab-pane" id="messages">{% include "add_shippings.html" %}</div>
  <div class="tab-pane" id="services">{% include "add_services.html" %}</div>
  <div class="tab-pane" id="messages">{% include "add_terms.html" %}</div>
  <div class="tab-pane" id="services">{% include "add_garantia.html" %}</div>
</div>

{% endblock %}


