{% extends 'base.html' %}
{% load django_tables2 %}




<!DOCTYPE html>
<html>
<head>
	<title></title>
	
</head>
	
&nbsp&nbsp&nbsp
<body>
{% block content %}
<h1>{{ single_user }}</h1>

	</ul>




<div>
	
&nbsp&nbsp&nbsp
<form method="POST" action="">	{% csrf_token %}
{{ produto_form.as_p }}
<input type="submit" value="Save edit" />
</form>
</div>
&nbsp
<div>
	<link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css">
	{% render_table table %}
</div>
{% endblock %}
</body>
</html>


